<md-card>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <md-input-container>
          <span style="float: right; width: 5%; text-align: right;">
            <md-icon class="md-18" [ngStyle]="{'color': iconColorToEmail}">{{mdIconToEmail}}</md-icon>
          </span>
          
          <span style="float: left; width: 95%;">
            <input mdInput formControlName="email" type="text"
            placeholder="{{placeholderToEmail}}"
            (keyup)="onChangeEmail()">
          </span>
          <span style="clear: both"></span>
        </md-input-container>
      </div>
  
      <div>
        <md-input-container>
          <span style="float: right; width: 5%; text-align: right;">
            <md-icon class="md-18" [ngStyle]="{'color': iconColorToRepeatEmail}">{{mdIconToRepeatEmail}}</md-icon>
          </span>
          
          <span style="float: left; width: 95%;">
            <input mdInput formControlName="repeatEmail" type="text"
            placeholder="{{placeholderToRepeatEmail}}"
            (keyup)="onChangeRepeatEmail()">
          </span>
          <span style="clear: both"></span>
        </md-input-container>
      </div>
  
      <div>
        <button md-raised-button type="submit"
        color="primary"
        [disabled]="forgotPasswordForm.invalid">
          Send
        </button>
      </div>
    </form>
  </md-card>