<span *ngIf="errors.length < 1">
  <!--<md-table #table [dataSource]="dataSource">
    <span *ngFor="let properties of params.firebasePropertiesToShow">
      <ng-container cdkColumnDef="properties.propertyName">
        <md-header-cell *cdkHeaderCellDef> {{properties.title}} </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.properties.propertyName}} </md-cell>
      </ng-container> 
    </span>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>-->
</span>

<span *ngIf="errors.length > 0">
  <md-error *ngFor="let error of errors">{{error.cod}} - {{error.message}}</md-error>
</span>
